body {
    text-align: center;
    margin: 0;
    font-family: monospace;
    background-image: url("http://gran4u.xtgem.com/Pokedex.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: 250px;
    background-position-x: center;
    background-attachment: fixed;
}
#search-results{       
    position: fixed;
    bottom: 300px;
    right: 1150px;
    
}
#pokemon-list{
    float: right;
    margin-right: 550px;
    margin-top: 220px;
    list-style-position: inside;
   
    
}

#pokemon-title{
    width: 700px;
}

#search-title{
    width: 400px
}

