body {
    text-align: center;
    margin: 0;
    font-family: monospace;
    background-image: url("http://gran4u.xtgem.com/Pokedex.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: 250px;
    background-position-x: center;
}
#search-results{
       
    position: fixed;
    bottom: 300px;
    right: 1150px
}
#pokemon-list{
    position:relative;
    bottom: -200px;
    right: -250px;
    list-style-position: inside;
    margin: 0;
}

#pokemon-title{
    width: 700px;
}

#search-title{
    width: 400px
}

