body {
    text-align: center;
    margin: 0;
    font-family: monospace;
}
.pokemon-form{
    background-image: url("http://gran4u.xtgem.com/Pokedex.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#pokemon-list{
    margin-right: 20px;
}

#pokemon-title{
    width: 700px;
}

#search-title{
    width: 400px
}

